doctype html
html
  head
    meta(charset="utf-8")
    title Leaflet Routing Machine Example
    link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css")
    link(rel="stylesheet", href="/javascripts/leaflet-routing-machine.css")
    //- link(rel="stylesheet", href="/javascripts/leaflet-control-geocoder.css")
    link(rel="stylesheet", href="/javascripts/Control.Geocoder.css")
    style.
      .map {
          position: absolute;
          width: 100%;
          height: 100%;
      }
  body
    #map.map
    script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
    script(src="/javascripts/leaflet-routing-machine.js")
    script(src="/javascripts/Control.Geocoder.js")
    script(src="/javascripts/main.js")
    //- block content
