doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="description" content="")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Territory Map
    link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css")
    //- link(rel="stylesheet", href="/components/leaflet/dist/leaflet.css")
    link(rel="stylesheet", href="/javascripts/leaflet-routing-machine.css")
    //- link(rel="stylesheet", href="/javascripts/leaflet-control-geocoder.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="/javascripts/Control.Geocoder.css")
    //- link(rel="stylesheet", href="/components/materialize/dist/css/materialize.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css')

    link(rel="stylesheet", href="/stylesheets/style.css")
    style.
      .map {
          position: fixed;
          width: 100%;
          height: 100%;
      }
  body
    nav
      .nav-wrapper
        a.brand-logo(href='#!') KH-Map
        a.button-collapse(href='#', data-activates='mobile-button')
            i.material-icons menu
        ul.right.hide-on-med-and-down
          li.input-field
               i.material-icons.prefix search
               input#search-nav(type='text')
               label(for='search-nav') Territory #
          li.login
            a(href='#')
              i.material-icons.left account_circle
              | Link with Right Icon
        ul.side-nav#mobile-button
          li.input-field
               i.material-icons.prefix search
               input#search-side-nav(type='text')
               label(for='search-side-nav') Territory #
          li.login
            a(href='#')
              i.material-icons.left account_circle
              | Login

    a.kh-btn-close.btn-floating.btn-large.waves-effect.waves-light.red
        i.material-icons close

    //- .fixed-action-btn(style='bottom: 45px; right: 24px;')
    //- a.btn-floating.btn-large.red
    //-     i.large.material-icons mode_edit
    //-   ul
    //-     li
    //-       a.btn-floating.red
    //-         i.material-icons insert_chart
    //-     li
    //-       a.btn-floating.yellow.darken-1
    //-         i.material-icons format_quote
    //-     li
    //-       a.btn-floating.green
    //-         i.material-icons publish
    //-     li
    //-       a.btn-floating.blue
    //-         i.material-icons attach_file



    #map.map
    //- script(src="/components/jquery/dist/jquery.min.js")
    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
    //- script(src="/components/leaflet/dist/leaflet.js")
    script(src="/javascripts/leaflet-routing-machine.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js')
    //- script(src="/components/materialize/dist/js/materialize.min.js")
    script(src="/javascripts/Control.Geocoder.js")
    script(src="/javascripts/main.js")
    //- block content
